.box { width:1.25rem; height:1.875rem; line-height:30px;}
.side { height:2.5rem; line-height:90px;}
.bar {height:0.625rem; line-height:120px;}
/*中文注释*/
.module {
    width:5rem; height:4.4375rem;
}
.footer {
    width:2.5rem; height:0.0625rem;
}